.work {
  padding-left: 50px;
  width: 720px;
  color: #868686;

  .head {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: #585858;
  }

  .position {
    margin-top: 10px;
    font-size: 22px;
    line-height: 32px;
  }

  .posiurl {
    font-size: 22px;
    line-height: 32px;

    a {
      color: #868686;
      font-size: 22px;
      line-height: 32px;
    }
  }

  .size {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }
}
